.icones-cadastro-embarcacao {
  margin-top: 25px;
  height: 150px;
  display: flex;
  gap: 150px;
  margin-left: 380px;
}

/* Container geral com padding */
.container-cadastro-embarcacao {
  padding: 40px;
}

/* Título de Cadastro */
.titulo-primeiro-cadastro-embarcacao {
  color: black;
  padding: 15px;
}

.titulo-cadastro {
  margin-top: 25px;
  margin-left: 305px;
  color: black;
  padding-bottom: 100px;
}

/* Input de Cadastro */
.input-cadastro input {
  border: 2px solid #007CE2;
  border-radius: 10px;
  font-size: 16px;
  padding: 20px 85px 20px 55px;
}

/* Seção do Formulário */
.form-section-cadastro {
  gap: 40px;
  display: flex;
  padding: 65px;
  flex-wrap: wrap; /* Permite que os elementos quebrem linha em telas menores */
}

/* Botão Salvar Cadastro */
.btn-salvar-cadastro {
  width: 150px;
  height: 40px;
  background-color: #007CE2;
  color: aliceblue;
  border-radius: 10px;
  margin-left: auto; /* Centraliza no fim do container */
  font-size: 25px;
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
  .icones-cadastro-embarcacao {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-left: 0;
  }

  .titulo-cadastro {
    margin-left: 0;
    text-align: center;
  }

  .form-section-cadastro {
    flex-direction: column;
    padding: 20px;
  }

  .btn-salvar-cadastro {
    margin-left: 0;
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .input-cadastro input {
    width: 100%;
    padding: 15px;
    font-size: 14px;
  }

  .icones-cadastro-embarcacao {
    gap: 30px;
  }

  .titulo-primeiro-cadastro-embarcacao, .titulo-cadastro {
    font-size: 18px;
    text-align: center;
  }

  .btn-salvar-cadastro {
    width: 100%;
    font-size: 20px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .input-cadastro input {
    font-size: 12px;
    padding: 10px;
  }

  .form-section-cadastro {
    padding: 10px;
    gap: 20px;
  }

  .btn-salvar-cadastro {
    font-size: 18px;
    height: 45px;
  }
}
