/* html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  min-width: 100%;
  min-height: 100%;
}

.container-cadastro-embarcacoes {
  width: 100%;

  backdrop-filter: blur(10px);
  
  border-radius: 10px;
  
  display: flex;
  flex-wrap: wrap;
 
  justify-content: space-between;
  gap: 20px;
  height: 55vh;

}

.titulo-embarcacao {
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: 1.6rem;
  color: black;
  height: 10%;
}

.form-section-embarcacoes {
  width: 100%;
  display: flex;
  margin: 0 15vw;
  height: 100%;
}

.input-field {
  width: 100%;
  height: 80%;
 
  outline: none;
 
  color: #fff;
  display: flex;
  flex-flow: row wrap;
 
  column-gap: 1vw;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 35px;
}

.input-field input {
  width: 25vw;
  height: 7.5vh;
 
  outline: none;
  border: 1px solid rgba(19, 141, 147, 255);
  border-radius: 40px;
  font-size: 1rem;
  color: black;
 
}

.input-field input::placeholder {
  color: black;
}

.container-cadastro-embarcacoes .recall-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.recall-forget label input {
  accent-color: #050505;
  margin-right: 4px;
}

.recall-forget a {
  color: #f4efef;
  text-decoration: none;
}

.recall-forget a:hover {
  text-decoration: underline;
}

.container-cadastro-embarcacoes .signup-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.signup-link p a {
  color: #f4efef;
  text-decoration: none;
  font-weight: 600;
}

.signup-link p a:hover {
  text-decoration: underline;
} */