.listagem-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)); /* Colunas mais equilibradas */
  gap: 15px; /* Ajustei o gap para 15px para garantir que não fiquem muito distantes */
  padding-right: 30px;
  width: 100vw; /* Garantindo que a largura do contêiner ocupe 100% */
  overflow-x: hidden; /* Esconde transbordamento horizontal */
}

* {
  box-sizing: border-box; /* Garante que o padding e as bordas sejam contados dentro das larguras dos elementos */
}
