.filtro-container{
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 700px;
  margin-left: 20px;
  padding-top: 60px;
  gap: 15px;
  background-color: rgb(37, 37, 37);
  
}

label{ color: rgb(255, 255, 255);}
.div-inputs-pesquisa h3{color: rgb(255, 255, 255);}

.div-inputs-pesquisa{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

#input-pesquisa-cidade{
    border: 1px solid rgb(177, 177, 177);
    border-radius: 7px;
    height: 3vh;
    padding-left: 10px;
}

h3{
    margin-bottom: 10px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    
  }
  
  .checkbox-item {
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-bottom: 7px; /* Espaçamento entre cada checkbox e label */
    
  }
  
  .checkbox-item input {
    margin-right: 8px; /* Espaçamento entre o checkbox e a label */
    
  }
  