.filtro-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 30px; /* Define o tamanho mínimo */
  gap: 15px;
  background-color: #1f2366;
  justify-content: center;
  padding: 10px;
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(-50px); /* Inicialmente fora da tela */
  height: 0; /* Inicialmente, a altura é 0 */
  overflow: hidden; /* Garante que nada ultrapasse ao esconder */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, height 0.5s ease-out; /* Transição suave */
}

/* Quando o filtro estiver visível */
.filtro-container.visible {
  opacity: 1; /* Visível */
  transform: translateY(0); /* Volta à posição original */
  height: 50px; /* Defina a altura desejada quando visível */
}

/* Caso a animação não funcione corretamente, a altura mínima pode ser configurada */
.filtro-container.hidden {
  height: 0; /* Mantém a altura em zero quando escondido */
}
