@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}
.container{
/* top: 80px; */
width: 90%;
height: 95vh;
display: flex;
flex-direction: column;
background-color: white;
padding: 0;
padding-left: 5%;
padding-right: 5%;


}
.mainTitulo{
    margin-top: 5%;
    height: 5%;
    margin-bottom: 3%;
}
.tituloDesc {
    height: 5%;

}

.tituloDesc h2{
 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
/* line-height: 39px; */
/* display: flex; */
/* align-items: center; */
color: #000000;
/* height: 12%; */
width: 100%;
/* margin-left: 15vh; */
margin: 0;
font-family: "Montserrat", sans-serif;

}
/* .mainTitulo, .fotosContainer, .inputContainer{
 
    margin-left: 5%;
    margin-right: 5%;
    padding:  0;
    } */

.linhaHr{
    border-top: 4px solid rgba(19,141,147,255);
 
}

.textoDesc h4{
    font-size: 25px;
    margin: 0;
    padding-bottom: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.inputContainer{
    height: 45%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.descricaoContainer, .regrasContainer{
    padding-left:15%;
    /* padding-right: 15%; */
    
}


textarea {
    resize: none;
  }


.descriçaoInput textarea, .regrasInput textarea{
    height: 12vh;
    width: 75%;
    font-size: 20px;
    border-radius: 13px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid rgba(19,141,147,255);
}

.fotosContainer{
    
    height: 45%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fotosContainer .tituloDesc{
    height: 10%;
    margin-bottom: 5vh;
}

.inputFotos{
    height: 80%;
}
.imagesList{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.imageSelecionada{
    width: 250px;
    height: 250px;
    border: 2px solid rgba(19,141,147,255);
    border-radius: 30px;
}

.btnSelecionar {
    width: 250px;
    height: 250px;
    border: 3px solid rgba(19,141,147,255);
    background-color: transparent;
    border-radius: 30px;
}


  .toastContainer{
    font-size: 28px;
    width: 100%;
    height: 20vh;

  }

  .btnContainer{
    width: 100%;
    height: 5%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }
  .btnAnuncie {
    align-self:flex-end;
    justify-content: flex-end;
    font-size: 20px; 
    height: 100%;
    width: 15%;
    color: white;
    background-color: rgba(19,141,147,255);
    border-radius: 10px;

  }