html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container{
/* top: 80px; */
width: 100%;
height: 95vh;
display: flex;
flex-direction: column;
background-color: rgb(230, 235, 230);
padding: 0;

}
.mainTitulo{
    margin-top: 5vh;
}
.tituloDesc {
    height: 5%;

}

.tituloDesc h2{
 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 33px;
/* line-height: 39px; */
/* display: flex; */
/* align-items: center; */
color: #000000;
/* height: 12%; */
width: 100%;
/* margin-left: 15vh; */
margin: 0;

}
.tituloDesc h2, .linhaHr{
 
    margin-left: 5%;
    margin-right: 5%;
    padding:  0;
    }

.linhaHr{
    border-top: 4px solid black;
}

.textoDesc h4{
    font-size: 30px;
    margin: 0;
    padding-bottom: 15px;
    font-weight: 100;
}

.inputContainer{
    height: 45%;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.descricaoContainer, .regrasContainer{
    margin-left: 20%;
    margin-right: 15%;
    
}

.descriçaoInput input, .regrasInput input{
    height: 12vh;
    width: 65%;
    font-size: 17px;
    border-radius: 13px;
}

.fotosContainer{
    
    height: 35%;
    width: 100%;
}

