html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  min-width: 100%;
  min-height: 100%;
}

.container-cadastro-embarcacoes {
  width: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: space-evenly;

  height: auto; /* Ajustar altura para o conteúdo */
}

.titulo-embarcacao {
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
  color: black;
 
}
.teste{
  display: flex;
  margin: 0 16vw; 
  width: 100%;
  left: 10%;
}

.form-section-embarcacoes {
  display: flex;
  
  flex-wrap: wrap;
  gap: 20px; /* Espaçamento entre as colunas */
 
}

.coluna-um, .coluna-dois {
  display: flex;
  flex-direction: column;
  width: 48%; /* Ajusta a largura de cada coluna */
  gap: 15px; /* Espaçamento entre os campos dentro da coluna */
}

.input-field input {
  width: 100%;
  
  border: 1px solid rgba(19,141,147,255);
  border-radius: 40px;
  font-size: 1rem;
  color: black;
}

.input-field input::placeholder {
  color: black;
}

.container-cadastro-embarcacoes .recall-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.recall-forget label input {
  accent-color: #050505;
  margin-right: 4px;
}

.recall-forget a {
  color: #f4efef;
  text-decoration: none;
}

.recall-forget a:hover {
  text-decoration: underline;
}

.container-cadastro-embarcacoes .signup-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.signup-link p a {
  color: #f4efef;
  text-decoration: none;
  font-weight: 600;
}

.signup-link p a:hover {
  text-decoration: underline;
}


.inputContainer-regras{
 width: 100%;
 
 margin: 0 3vw;
}

.fotosContainer{
  width: 100%;
  padding: 15px;
  
}
.btnSelecionar{
  gap: 15px;padding: 15px;
}
.inputFotos{
  width: 100%;


}
.btn-salvar-embarcacao{
  width: 100px;
  height: 50px;
}

.inputFotos{
  width: 100%;
  height: 80%;
  padding-top: 2%;
  display: flex;
  
}
.imagesList{
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 84%;
  height: 100%;
}
.imageSelecionada{
  width: 250px;
  height: 250px;
  width: 22.5%;
  height: 100%;
  border: 2px solid rgba(19,141,147,255);
  border-radius: 30px;
}
