.Info-Aluguel-container {
    display: flex;
    flex-direction: column;
    position: sticky; /* Fixa a div na rolagem */
    top: 18%; /* Define a distância do topo quando rolar */
    right: 1%; /* Ajusta a margem do lado direito */
    width: 30%;
    height: 400px;
    padding: 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 0 10px 2px rgb(180, 180, 180);
    margin: 0 auto; /* Centraliza horizontalmente */
    transform: translateX(5%);
}
