.info-aluguel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    height: auto;
  }
  
  .inputs-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .resultado {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  .div-diaria{
    display: flex;
    width: 100%;
  }
  .div-diaria p {
    font-size: 24px;
  }