* {
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.embarcacao-container {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(235, 20, 20, 0);
}

.infos-container {
    display: flex; /* Utiliza grid para organizar as imagens pequenas */
    width: 80%; /* Largura da área para as imagens pequenas */
    height: auto; /* Altura total da galeria */
    gap: 5px; 
   flex-direction: row;
    background-color: rgb(204, 235, 31);
   
    
}


