.container-marinheiro {
  margin-bottom: 10px;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  min-width: 100%;
  min-height: 100%;
}


.container-cadastro-marinheiro {
  width: 100%;
  /* backdrop-filter: blur(10px); */
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 55vh;
  padding: 5px;
}

.container-marinheira {
  display: flex;
}

.fingon{
  width: 100%; 
  
}

.btn-marinheiro {
  width: 50%; /* Faz o botão ocupar toda a largura do container */
  
  justify-content:center;
  height: 40px;
   margin-left: 150px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
 

}


.titulo-marinheiro {
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: 1.6rem;
  color: black;
  height: 10%;
}

.form-section-marinheiro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 15vw;
  height: 100%;
  padding-top: 25px;
  
  
}

.input-field {
  width: 100%;
  height: 80%;
  outline: none;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;

}



.input-field input {
  width: 25vw;
  height: 7.5vh;
  outline: none;
  border: 1px solid rgba(19, 141, 147, 255);
  border-radius: 40px;
  font-size: 1rem;
  color: black;

}

.input-field input::placeholder {
  color: black;
}



.container-cadastro-marinheiro .recall-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.recall-forget label input {
  accent-color: #050505;
  margin-right: 4px;
}

.recall-forget a {
  color: #f4efef;
  text-decoration: none;
}

.recall-forget a:hover {
  text-decoration: underline;
}

.container-cadastro-marinheiro .signup-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.signup-link p a {
  color: #f4efef;
  text-decoration: none;
  font-weight: 600;
}

.signup-link p a:hover {
  text-decoration: underline;
}